<div class="report-container">
  <button type="button" {{on "click" this.fetchChartData}}>Load Chart Data</button>
  <div id="chart-container">
    <canvas id="myChart"></canvas>
  </div>
  <div id="groupDetails" style="display:none;">
    <h3>Group Details</h3>
    <p id="groupCreatedTime"></p>
    <p id="groupUpdatedTime"></p>
  </div>
</div>